<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for News</h1>

<f:flashMessages />

<table  class="tx_hiveextnews" >
	<tr>
		<th><f:translate key="tx_hiveextnews_domain_model_news.header" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.featured_news" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.teaser" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.author_name" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.author_email" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.author_adress" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.author_img" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.date" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.content" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.thumbnail" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.content_img" /></th>
		<th><f:translate key="tx_hiveextnews_domain_model_news.content_img_caption" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{newss}" as="news">
		<tr>
			<td><f:link.action action="show" arguments="{news : news}"> {news.header}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.featuredNews}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.teaser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.authorName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.authorEmail}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.authorAdress}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.authorImg.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.content}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.thumbnail.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.contentImg.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{news : news}"> {news.contentImgCaption}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{news : news}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{news : news}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New News</f:link.action>
</f:section>
</html>