<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hive-ext-news" >
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.header" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.featured_news" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.teaser" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.author_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.author_email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.author_adress" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.author_img" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.date" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.content" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.thumbnail" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.content_img" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextnews_domain_model_news.content_img_caption" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>